<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grades</title>
        <link rel="stylesheet" href="/static/styles.css">
        <title>Teacher Dashboard</title>
    </head>
<body>
    <h2>Welcome, {{ current_user.first_name }}!</h2>
    <form action="/logout" method="GET" style="display:inline;">
        <button type="submit">Logout</button>
    </form>
    <button onclick="showTab('my-classes')">My Classes</button>
    <div id="my-classes">
        <h3>My Classes</h3>
        {% for item in course_data %}
        <section>
            <h4>{{ item.course.code}}</h4>
            <p><strong>Meeting Time:</strong> {{ item.course.meeting_time }}</p>
            <p><strong>Enrolled:</strong> {{ item.course.enrollment_count }} / {{ item.course.capacity }}</p>

            <table>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                </tr>
                {% for enrollment in item.enrollments %}
                <tr>
                    <td>{{ enrollment.student.first_name }} {{ enrollment.student.last_name }}</td>
                    <td>{{ enrollment.grade or "N/A" }}</td>
                    <td>
                        <form method="POST" action="/teacher/update_grade/{{ enrollment.id }}">
                            <input type="text" name="grade" placeholder="Enter grade">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
        </div>
    {% endfor %}
</body>
</html>