<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grades</title>
        <link rel="stylesheet" href="/static/styles.css">
        <title>Teacher Dashboard</title>
    </head>
<body>
    <h2>Welcome, {{ current_user.first_name }}!</h2>
    <form action="/logout" method="GET" style="display:inline;">
        <button type="submit">Logout</button>
    </form>
    <button onclick="showTab('my-classes')">My Classes</button>
    <button onclick="showTab('students')"> Students</button>
</body>
</html>